extends ../../../templates/master.pug

block content
	.main-panel
		.content
			.panel-header.bg-primary-gradient
				.page-inner.py-5
					.d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
						div
							h2.text-white.pb-2.fw-bold Dashboard
							h5.text-white.op-7.mb-2 List of violation tickets
						.ml-md-auto.py-2.py-md-0
							.form-group.form-group-default
								label Location 
									- for (let i = 1; i <= 30; i++)
										span &nbsp;
								select#locationSelect.form-control
									option(value='') - Select location
									each location in locations
										option(value=`${location.name}`) #{location.name}
			.page-inner.mt--5
				.row.mt--2
					.col-md-12
						.card.full-height
							.card-body
								.row
									.col-md-12
										table.table.table-hover.mt-3
											thead
												tr
													th Ticket No.
													th Ticket Status
													th Location
													th Action
											tbody
												each ticket in tickets
													tr
														td #{ticket.id}
														td #{ticket.status}
														td.ticket-location #{ticket.location}
														td 
															button.btn.btn-primary.btn-round.viewBtn(ticketId=`${ticket.id}`)
																i.fas.fa-eye
																span.ml-2 View
	// MODAL
	#ticketModal.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-md(role='document')
			.modal-content
				.modal-header
					h5.modal-title Ticket Details
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				#ticketModalBody.modal-body
				.modal-footer
					button.btn.btn-primary(type='button') Close
block contentScripts
	script.
		$(document).ready(function() {
			$(document).on('click', '.viewBtn', function() {
				const locationList = !{JSON.stringify(locations)}
				const violationList = !{JSON.stringify(violations)}
				const ticketList = !{JSON.stringify(tickets)}
				const ticketClicked = ticketList.find(ticket => ticket.id === $(this).attr('ticketId'))
				const ticketLocation = locationList.find(location => location.name === ticketClicked.location)
				$('#ticketModalBody').append(`
					<center><strong class="h2">${ticketClicked.id}</strong></center>
					<div class="license-no-wrapper my-3"><strong class="h3">License No. : </strong><span class="h3" style="font-weight: 100;">${ticketClicked.licenseNo}</span></div>
					<div class="date-wrapper my-3"><strong class="h3">Date : </strong><span class="h3" style="font-weight: 100;">${ticketClicked.date}</span></div>
					<div class="location-wrapper my-3">
						<div id="map" style="height:300px;width:100%;"></div>
					</div>
					<div class="violation-wrapper my-3"><strong class="h3">Violations</strong>
						<div id="violations"></div>
					</div>
				`).promise().then(function () {
					for (let i = 0; i<ticketClicked.violations.length; i++) {
						const violation = violationList.find(violation => violation.id === ticketClicked.violations[i].id)
						const violationPrice = 
							ticketClicked.violations[i].noOfOffense === 1 ? violation.price['1'] :
							ticketClicked.violations[i].noOfOffense === 2 ? violation.price['2'] :
							violation.price['3']
						$('#violations').append(`
							<div class="violation" style="display: block">
								<span class="h3">${violation.id}</span>
								<span class="h3 text-danger" style="float:right">Php ${violationPrice}</span>
								<p>${violation.description}</p>
								<p>No. of offense: ${ticketClicked.violations[i].noOfOffense}</p>
							</div>
						`)
						const map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: ticketLocation.lat,
								lng: ticketLocation.lng
							},
							zoom: 16
						});
						const marker = new google.maps.Marker({
							position: {
								lat: ticketLocation.lat,
								lng: ticketLocation.lng
							},
							map: map,
							title: ticketLocation.name
						})
					}
				})
				$('#ticketModal').modal('show')
			})
			$('#ticketModal').on('hidden.bs.modal', function(){
				$('#ticketModalBody').empty()
			})
			$(document).on('change', '#locationSelect', function() {
				const tickets = $('.ticket-location')
				const selected = $(this).val()
				if (selected.length > 0) {
					console.log({selected})
					for (let j = 0; j < tickets.length; j++) {
						if (tickets.eq(j).text() !== selected) {
							tickets.eq(j).parent('tr').fadeOut(400)
						} else {
							console.log(tickets.eq(j).parent('tr'))
							tickets.eq(j).parent('tr').fadeIn(400)
						}
					}
				} else {
					for (let j = 0; j < tickets.length; j++) {
						tickets.eq(j).parent('tr').fadeIn(400)
					}
				}
			})
		})
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAFipFbUB5ayQL9BmDeytVG0W5u1unSVOQ&callback=initMap', async='', defer='')
